<header class="site-header">
  <div class="site-title">
    <a href="{{ '/' | relative_url }}">Giuseppe Metere</a>
  </div>

  <nav class="site-nav">
    <a href="{{ '/research/' | relative_url }}">Research</a>
    <a href="{{ '/publications/' | relative_url }}">Publications</a>
    <a href="{{ '/teaching/' | relative_url }}">Teaching</a>
    <a href="{{ '/writing/' | relative_url }}">Writing</a>
    <a href="{{ '/notebook/' | relative_url }}">Notebook</a>
    <a href="{{ '/talks/' | relative_url }}">Talks</a>
    <a href="{{ '/community/' | relative_url }}">Community</a>
    <a href="{{ '/contact/' | relative_url }}">Contact</a>
  </nav>
</header>
